#title {
  font-size: 3em;
  text-align: center;
  /*border: 1px solid black;*/
  font-family: 'Pacifico', cursive;
  color: black;
  text-shadow: 2px 2px pink;
}

#subtitle {
  margin-top: 7px;
  font-size: 1.5em;
  text-align: center;
}

h1 {
  text-align: center;
  font-style: italic;
  font-size: 2em;
}

.calculator {
  padding: 40px;
  background-color: white;
}

#moredogform {
  display:none;
}

button:active {
  background-color: pink;
}


.btn-group {
  margin-bottom: 10px;
}

.dogNumPicker {
  height: 40px;
}

.pickerlabel {
  text-align: center;
}

.dogNumPicker input {
  font-size: 2em;
  margin-left: 5px;
  text-align: center;
  width: 55%;
  height: 55px;
  vertical-align: middle;
}

.dogNumPicker button {
  border: 0px solid white;
  padding: none;
  margin: none;

  font-size: 1.5em;
  width: 10%;
  margin: 0px 5%;
  line-height: 1.5em;
  background-color: pink;
}

.dogNumPicker button:active {
  background-color: green;
}


html, body {
font-family: 'Raleway', sans-serif;
background-color: black;
}

#submit {
margin-bottom: 30px;
border: 2px solid black;
}

#resultsrow {
  display: none;
}

#result {
  background-color: white;
  margin-top: 30px;
  height: 500px;
  border: 1px solid black;
  margin-bottom: 400px;
  padding: 0% 10%;
}

.score {
  float: right;
}

.base {
  font-size: 1.5em;
}

.scoreline {
  padding: 3px 12px;
  margin-bottom: 3px;
  background-color: red;
  font-size: 1.2em;
}

.positive {
  background-color: #87D37C;
}

.negative {
  background-color: #F22613;
}

#result hr {
  margin-left: 25%;
  width: 50%;
  border-top: 1px solid black;
}

.subtotal {

}

#result ul {
    list-style-type: none;
}

#loadingimg {
  margin: 50px auto;
}

#hiddendog {
  display: none;
}