#title {
  font-size: 3em;
  text-align: center;
  /*border: 1px solid black;*/
  font-family: 'Pacifico', cursive;
  color: black;
  text-shadow: 2px 2px #4ECDC4;
}

#subtitle {
  margin-top: 7px;
  font-size: 1.5em;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 2em;
}

.calculator {
  padding-bottom: 40px;
  background-color: white;
}

#moredogform {
  display:none;
}



.btn-group {
  margin-bottom: 10px;
}

.dogNumPicker {
  position: relative;
  width: 100%;
}

.pickerlabel {
  text-align: center;
}

.titlebox {

}

label {
  font-size: 1em;
}

.dogNumPicker input {
  font-size: 2em;
  text-align: center;
  height: 55px;
  margin-left: 20%;
  border: 2px solid #226fbe;
  box-shadow: 0 4px #A2DED0;
  width: 60%;
  margin-bottom: 10px;
  outline: none;
  vertical-align: middle;
  background-color: #FDE3A7;
}

.dogNumPicker button {
  text-transform: uppercase;
  border: 2px solid black;
  padding: 5px 20px;
  width: 20%;
  border-radius: 5px;
  outline: none;
  font-size: 1.5em;
  line-height: 1.5em;
  position: relative;
  background-color: #4ECDC4;
  box-shadow: 0 4px #A2DED0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

button:hover {
  top: 2px;
  box-shadow: 0 2px #A2DED0;
}

button:active {
  background-color: red;
  border: 10px solid black;
}

.dogNumPicker button.left {
  margin-left: 20%;
  margin-right: 20%;
}

.dogNumPicker button.right {
  margin-right: 20%;
}




html, body {
font-family: 'Raleway', sans-serif;
  background-image: url('../img/doglogo.png');
  background-color: white;

}

#submit {
margin-bottom: 30px;
border: 2px solid black;
}

#resultsrow {
  display: none;
}

#result {
  background-color: white;
  margin-top: 30px;
  border: 1px solid black;
  margin-bottom: 400px;
  padding: 10px 10%;
}

.score {
  float: right;
}

.base {
  font-size: 1.5em;
}

.scoreline {
  padding: 3px 12px;
  margin-bottom: 3px;
  font-size: 1em;
}

.positive {
  background-color: #87D37C;
}

.negative {
  background-color: #F22613;
}

#result hr {
  margin-left: 35%;
  width: 30%;
  border-top: 1px solid black;
}

.subtotal {
  background-color: #DADFE1;
}

#result ul {
    list-style-type: none;
}

#loadingimg {
  margin: 50px auto;
}

#hiddendog {
  display: none;
}

.scorebadge {
    margin: 0 auto;
    border-radius: 50%;
    min-width: 80px;
    min-height: 80px;
    width: auto;
    height: auto;
    padding: 8px;
    background-color: white;
    border: 3px solid black;
    text-align: center;
    font-size: 40px;

}